*/*ajustes gerais*/
{  
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto','Bree_Serif';
}
    @font-face {
        font-family: 'roboto';
        src: url(/portfolio/FONTS/Roboto/Roboto-VariableFont_wdth,wght.ttf);
    }

    @font-face {
        font-family: 'Bree_Serif';
        src: url(/portfolio/FONTS/Bree_Serif/BreeSerif-Regular.ttf);
    }

    @media screen and (min-width: 140px) 
    {
        * {max-width: 100%; 
        
        }

    }

body/* cor do corpo do site*/
{   
    background-color:aliceblue; 
}

.header/* cabeçalho do site*/
{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: auto;
    max-height: 4%;
    min-height: 180px;
    padding: 0 4%;
    margin:  4% 20%; 
}
.social {
    display: flex;
    gap: 10px;
    margin-left: 20%;
    margin-top: 0; 
    align-items:baseline;
    
}

.social div /*ajustes icones*/
 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#logo, #logo1, #logo2 /*ajustes icones*/
 {
    max-width: 60px;
    min-width: 20px;
    width: 90%;  
    height: auto;
}
h1/* nome do artista*/
{   
    font-size:50px;
    padding-left: 40px;
    color: #333c23;
    text-shadow: 4px 2px  rgba(0, 0, 0, 0.04);
}

h3/* skills do artista*/
{   
    font-size: 24px;
    font-weight: bold;
    color: #9d9d9c;
    padding-left: 40px;
    padding-top: 10px;
}

h2 /* trabalhos recentes*/
{   
    text-align: center;
    font-size: 40px;
    color: #333c23;
    text-shadow: 4px 2px  rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    padding: 0 10px 20px 10px;
}

.container /* ilustrações em grid*/
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
  gap: 20px;
  padding: 0 4%;
}
#mula,#elf,#broken,#ride,#mulan,#tattoo,#polaroid
{
    border-radius: 20px;
  }
 .imagens/* ajustes nas imagens */
 {
   width: 100%;
   max-width: 360px;
   height: auto;
   filter:opacity(0.7);
   
 }
 h4, .bio{

    display: flex;
    justify-content: center;
    padding: 10PX 0 0 0 ;
    margin: 0 auto;
     }

 #me{
    display: flex;
    justify-content:center;
    font-size: 20px;
    padding: 1em 2em;
    margin: 0 auto;
    max-width: 60em;

 }

 .bio{
    max-width: 120PX;
    border-radius: 50%;
 }

 p /* ajustes na legenda*/
{
    font-family: 'breeserif';
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    padding: 4px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);

}


.imagens:hover/*ajustes imagem hover*/
{
    transform: scale(1.1);
   transition: ease 0.4s;
   filter:opacity(1);
   cursor: pointer;
   pointer-events: stroke;
}

.rodape/*ajustes rodape*/
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    padding: 4%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

