*/*ajustes gerais*/ {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --legend: "Sigmar One";
  --name: "Titan One";
}

body/* cor do corpo do site*/ {
  background-color: aliceblue;
}

/* cabeçalho do site*/
.header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;

  .social {
    display: flex;

    gap: 1em;
    width: 30%;
    margin-top: 20px;

    img {
      background-color: #aaaaaa60;
      border-radius: 8px;
      width: 40px;
      padding: 8px;
      cursor: pointer;
    }
  }

  h1/* nome do artista*/ {
    font-size: 2.5em;
    font-weight: 800px;
    color: #000000;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
    font-family: var(--name);
  }

  h3/* skills do artista*/ {
    font-size: 18px;

    color: #585858;
    font-family: var(--name);
  }
}

.links {
  opacity: 0.3;
}

.links:hover {
  opacity: 0.9;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

h2 /* PORTFOLIO*/ {
  font-family: "Engagement";
  text-align: center;
  font-weight: 200;
  font-size: 5em;
  color: #333c23;
  text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
  margin: 0 auto 40px auto;
  border-bottom: 1px solid;
  width: 400px;
}

/*efeitos de transições*/
.container:hover > :not(:hover) {
  filter: blur(2px);
  opacity: 0.2;
  transition: 0.2s;
}

.container /* ilustrações em grid*/ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;

  p {
    padding-left: 1em;
    font-family: var(--name);
  }

  img {
    border-radius: 24px;
    width: 100%;
  }

  .imagens/* ajustes nas imagens */ {
    width: 320px;
}


/*transição nas ilustrações*/
.imagens:hover img {
  border-radius: 24px 24px 0px 0px;
  border: solid 6px #1c1c1c;

}

.imagens:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  position: relative;
  border-radius: 100px;}

  .imagens:hover  p {
    text-align: center;
    transform: translateX(0%) translateY(-15%);
    background-color: #1c1c1c;
    border-radius: 0 0 24px 24px;
    color: #fafafa;
    opacity: 2;

    font-size: 2em;
    width: 100%;
    padding: 0;
  }
}

.BackToTop img{
  width: 80px;
}
.BackToTop {
  width: 80px;
  display: flex;
  flex-direction: row;
  position: sticky;
}





/*mobile view*/

@media  screen and (max-width:480px) {
  html,body{
    scroll-behavior: smooth;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .main h2{
    width: 200px;
  }


.BackToTop img{
  width: 30px;
}

.BackToTop{
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  
}

a:visited{
  color: inherit;
}

.Top {
  display: flex;
  flex-direction: row;
  color: #585858;  
}
.footer img{
  width:300px;
}

footer{
  margin: 0px 0px;
}
}