*/*ajustes gerais*/ {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "Bree_Serif";
}
:root{
  --legend: 'Sigmar One';
  --name:'Titan One';
}

body/* cor do corpo do site*/ {
  background-color: aliceblue;
}
/* cabeçalho do site*/
.header {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding-bottom: 10px;
  padding-top: 60px;
  
  .social {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
    img {
      background-color: #aaaaaa60;
      border-radius: 8px;
      width: 40px;
      padding: 8px;
    }
    
  }
  
  h1/* nome do artista*/ {
    font-size: 2.5em;
    font-weight: 800px;
    color: #000000;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
    font-family:var(--name) ;
  }
  
  h3/* skills do artista*/ {
    font-size: 14px;
    font-weight: 900;
    color: #585858;
  }
}

h2 /* PORTFOLIO*/ {
  font-family: 'Engagement';
  text-align: center;
  font-weight: 200;
  font-size: 6em;
  color: #333c23;
  text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
  padding: 0 10px 20px 10px;
}

.container /* ilustrações em grid*/ {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px 18px; 
  padding: 0 10%;

  p{
  font-family: var(--name);
  }
  img {
    border-radius: 20px;
    max-width: 320px;
  }
  
  .imagens/* ajustes nas imagens */ {
    filter: opacity(0.7);
    text-align: center; 
    max-height: 320px;
 
 
   }

  .imagens:hover/*ajustes imagem hover*/ {
    transform: scale(1.1);
    transition: ease-in 0.3s;
    filter: opacity(1);
    cursor: pointer; 
  }   
  
  .imagens:hover p{
    color: #fafafa;
    text-shadow: #000000 1px 2px 2px;
    background-color: #4047345d;
    transition: ease 0.1s;
    translate: 0 -110%;
    border-radius: 0  0 20px 20px;
    font-size: 1.5em;
    height: auto;
    position: relative;
    bottom: 0;
    }
    
  }
  
  .me{
    padding: 0 20%;
    text-align: center;
    
    
    img{
      margin-top: 4%;
      align-items: center;
      width: 80px;
      border-radius: 50px;
    }
    
    h4, p{
      text-align: center;
    }
    
  }
  
  .rodape/*ajustes rodape*/ {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    padding: 4%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  }
  
