*/*ajustes gerais*/ {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --legend: "Sigmar One";
  --name: "Titan One";
}

html,body/* cor do corpo do site*/ {
  background-color: aliceblue;
  scroll-behavior: smooth;
}

/* cabeçalho do site*/
.header {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;

  .social {
    display: flex;

    gap: 1em;
    width: 30%;
    margin-top: 20px;

    img {
      background-color: #aaaaaa60;
      border-radius: 8px;
      width: 40px;
      padding: 8px;
      cursor: pointer;
    }
  }

  h1/* nome do artista*/ {
    font-size: 3em;
    font-weight: 800px;
    color: #000000;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
    font-family: "Racing Sans One";
  }

  h3/* skills do artista*/ {
    font-size: 1em;
    color: #585858;
    font-family: "Racing Sans One";
  }
}

.links {
  opacity: 0.3;
}

.links:hover {
  opacity: 0.9;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

h2 /* PORTFOLIO*/ {
  font-family: "Engagement";
  text-align: center;
  font-weight: 200;
  font-size: 5em;
  color: #3f3f3f;
  text-shadow: 4px 2px rgba(0, 0, 0, 0.04);
  margin: 0 auto 0.5em auto;
  border-bottom: 1px solid;

}

/*efeitos de transições*/

.container /* ilustrações em grid*/ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  width: 1000px;
  margin: 0 auto;


  p {
    padding-left: 1em;
    font-family: "Racing Sans One";
  }

  .imagens{
    width: 20em;
    overflow: hidden;
    height: 25em;
    border-radius: 16px;
  }

  .imagens img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.imagens:hover .legend {
  display: flex;
  translate: 0 -110%;
  font-size: 3em;
  color: #ffffff;
  text-shadow: #000000 4px 2px 15px;
  }

  .imagens img:hover {
scale: 1.08;
transition: 900ms;
   overflow: hidden;
    object-fit: cover;
  }


}

.BackToTop img {
  width: 40px;
}
.BackToTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 50px 0;
    color: #3f3f3f;
}

a:visited {
  color: inherit;
}



/*mobile view 480px*/
@media screen and (max-width: 480px) {
  html,
  body {
    scroll-behavior: smooth;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .header{
    align-items: center;

   h3{
    font-size: 0.8em
   }

   .social{
    justify-content: center;
   }
  }

  .imagens{
    margin: 0 auto;
  }

  .BackToTop img {
    width: 30px;
  }

  .BackToTop {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
  }

  a:visited {
    color: inherit;
  }

  .Top {
    display: flex;
    flex-direction: row;
    color: #585858;
  }
  .footer img {
    width: 300px;
  }

  footer {
    margin: 0px 0px;
  }
}


/*mobile view 780px*/
@media screen and (max-width: 780px) {
  html,
  body {
    scroll-behavior: smooth;
  }

.container{
  width: 100%;
  margin: 0 auto;
}
}


/*mobile view 1024px*/

@media screen and (max-width:1024px) {
    html,
  body {
    scroll-behavior: smooth;
  }

.container{
  width: 100%;
  margin: 0 auto;
}
  
}